#meniu-principal .meniu > li .submeniu, #meniu-principal .meniu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#meniu-principal {
  width: 100%;
  background-color: var(--bg-section);
  position: relative;
  z-index: 100;
  border-radius: var(--border-rad);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
#meniu-principal #hamburger, #meniu-principal #ch-menu {
  display: none;
}
#meniu-principal .meniu {
  display: flex;
  justify-content: center;
}
#meniu-principal .meniu > li {
  position: relative;
  width: 180px;
}
#meniu-principal .meniu > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 3.5rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
#meniu-principal .meniu > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, var(--bg-section) 50%, var(--primary-color) 50%);
  z-index: -1;
  transition: transform 0.5s ease;
}
#meniu-principal .meniu > li > a:hover::before {
  transform: translateX(-50%);
}
#meniu-principal .meniu > li > a:hover {
  color: white;
}
#meniu-principal .meniu > li .submeniu {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  background-color: var(--bg-section);
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.4s ease-in-out;
  border-bottom-left-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#meniu-principal .meniu > li .submeniu li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
#meniu-principal .meniu > li .submeniu li a:hover {
  background-color: var(--primary-color);
  color: white;
}
#meniu-principal .meniu > li:hover .submeniu {
  transform: scaleY(1);
}

@media screen and (max-width: 1000px) {
  #meniu-principal .meniu > li {
    width: auto;
    flex-grow: 1;
  }
  #meniu-principal .meniu > li > a .text-optiune {
    display: none;
  }
  #meniu-principal .meniu > li > a i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  #meniu-principal #hamburger {
    display: block;
    padding: 1rem;
    text-align: right;
    color: var(--text-color);
    font-size: 1.8rem;
    cursor: pointer;
  }
  #meniu-principal #hamburger i {
    transition: transform 0.3s ease;
  }
  #meniu-principal .meniu {
    display: none;
    flex-direction: column;
  }
  #meniu-principal .meniu > li {
    width: 100%;
  }
  #meniu-principal .meniu > li > a::before {
    display: none;
  }
  #meniu-principal .meniu > li > a {
    justify-content: flex-start;
    padding-left: 20px;
    transition: background-color 0.3s ease;
  }
  #meniu-principal .meniu > li > a .text-optiune {
    display: inline;
  }
  #meniu-principal .meniu > li > a:hover {
    background-color: #3a3a40;
    color: var(--text-color);
  }
  #meniu-principal .meniu > li .submeniu {
    position: static;
    display: none;
    transform: none;
    background-color: rgb(33.9072164948, 33.9072164948, 37.5927835052);
    box-shadow: none;
  }
  #meniu-principal .meniu > li:first-child .submeniu li:first-child a {
    font-size: 0;
  }
  #meniu-principal .meniu > li:first-child .submeniu li:first-child a::before {
    content: "\f015";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1rem;
  }
  #meniu-principal #ch-menu:checked ~ .meniu {
    display: flex;
  }
  #meniu-principal #ch-menu:checked + #hamburger i {
    transform: rotate(90deg);
  }
  #meniu-principal .meniu > li:hover .submeniu {
    display: block;
    animation: rotatieMobil 0.5s ease forwards;
  }
  #meniu-principal .submeniu li:nth-child(1) {
    animation: intrareItem 0.4s ease forwards;
    animation-delay: 0.05s;
    opacity: 0; /* stau ascunse pana le vine randul */
  }
  #meniu-principal .submeniu li:nth-child(2) {
    animation: intrareItem 0.4s ease forwards;
    animation-delay: 0.1s;
    opacity: 0; /* stau ascunse pana le vine randul */
  }
  #meniu-principal .submeniu li:nth-child(3) {
    animation: intrareItem 0.4s ease forwards;
    animation-delay: 0.15s;
    opacity: 0; /* stau ascunse pana le vine randul */
  }
  #meniu-principal .submeniu li:nth-child(4) {
    animation: intrareItem 0.4s ease forwards;
    animation-delay: 0.2s;
    opacity: 0; /* stau ascunse pana le vine randul */
  }
  #meniu-principal .submeniu li:nth-child(5) {
    animation: intrareItem 0.4s ease forwards;
    animation-delay: 0.25s;
    opacity: 0; /* stau ascunse pana le vine randul */
  }
  #meniu-principal .submeniu li:nth-child(6) {
    animation: intrareItem 0.4s ease forwards;
    animation-delay: 0.3s;
    opacity: 0; /* stau ascunse pana le vine randul */
  }
}
@keyframes rotatieMobil {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
@keyframes intrareItem {
  to {
    opacity: 1;
  }
}