<footer id="subsol">
    <a href="#top" id="link-top" title="Mergi în susul paginii">
        <div id="triunghi">↑</div>
    </a>
    
    <address>
        Sediul Central Mech Forge:<br>
        <a href="https://maps.app.goo.gl/dYh3o15vJpZq42aVA" target="_blank">Facultatea de Matematică și Informatică</a><br>
        Str. Academiei 14, București, România<br><br>
        Asistență Telefonică: <a href="tel:+40711123456">+40 711 123 456</a><br>
        E-mail Suport: <a href="mailto:suport@mechforge.ro">suport@mechforge.ro</a><br>
        Contact Rapid: <a href="https://wa.me/40711123456" target="_blank">Chat pe WhatsApp</a>
    </address>

    <p>Adresa IP vizitator: <%= ip %></p>
    <p><small>Copyright © <time datetime="2026-03-02">2 martie 2026</time> Rădulescu David. Toate drepturile rezervate.</small></p>
</footer>