<header id="header-principal">
    <nav id="meniu-principal">
        <label id="hamburger" for="ch-menu">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input id="ch-menu" type="checkbox">

        <ul class="meniu">
            <li>
                <a href="#top" id="link-acasa">
                    <i class="fa-solid fa-house fa-fw"></i>
                    <span class="text-optiune">Acasă</span>
                </a>
                <ul class="submeniu">
                    <li><a href="#welcome">Prezentare</a></li>
                    <li><a href="#produse">Produse Custom</a></li>
                    <li><a href="#evenimente">Evenimente</a></li>
                    <li><a href="#media">Tutoriale Video</a></li>
                    <li><a href="#statistici">Specificații & Statistici</a></li>
                    <li><a href="#faq">Întrebări Frecvente</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#">
                    <i class="fa-solid fa-box-open fa-fw"></i>
                    <span class="text-optiune">Magazin</span>
                </a>
                <ul class="submeniu">
                    <li><a href="/magazin">Toate Produsele</a></li>
                    <li><a href="/switchuri">Switch-uri</a></li>
                    <li><a href="/keycaps">Keycaps</a></li>
                </ul>
            </li>

            <li>
                <a href="#subsol">
                    <i class="fa-solid fa-envelope fa-fw"></i>
                    <span class="text-optiune">Contact</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1><i class="fa-solid fa-keyboard"></i> Mech Forge <i class="fa-solid fa-gear fa-spin"></i></h1>  
    <img src="/resurse/imagini/sigla.png" alt="Logo MechForge" width="150" />
</header>